{{- $img := "" }}
{{- $data := . }}
{{- $username := $data.gitlab }}
{{- with (partial "gitlab/api" (dict
            "path" "/users"
            "query" (dict
              "username" $username
            )
    ))
-}}
  {{- /* GitLab returns '[]' instead of nothing. */}}
  {{- if gt (len .) 0 }}
    {{- $u := index . 0 }}
    {{- with $u.avatar_url }}
      {{- with resources.GetRemote . }}
        {{- $img = .Fill "90x90" }}
      {{- end }}
    {{- end }}
  {{- end }}
<a href="{{ ref page (printf "/handbook/company/team#%s" $data.gitlab) }}"><img class="avatar" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $data.name }}">{{$data.name}}</a>
{{- else -}}
<img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="40" height="40" alt="{{ .name }}">{{.name}}
{{- end -}}
